@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

:root {
    --primary: #6b59d3;
    --hover-primary: #5e4eb9;
    --white: #fff;
    --dot-background: #ececec;
    --border: #ccc;
    --check: #2ecc71;
    --xmark: #dc3545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: var(--primary);
}

.container {
    max-width: 700px;
    width: 100%;
    background: var(--white);
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    padding-bottom: 15px;
}

.container form .user-details,
.container form .room-details,
.container form .payment-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-details .input-box,
.room-details .input-box,
.payment-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
    position: relative;
}

.user-details .input-box .details,
.room-details .input-box .details,
.payment-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input,
.room-details .input-box input,
.payment-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--border);
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.container form #prefrooms {
    height: 150px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--border);
    padding-left: 15px;
    font-size: 16px;
    resize: none;
    padding-top: 10px;
    transition: all 0.3s ease;
}

.payment-details .payment-title {
    font-size: 20px;
    font-weight: 500;
}

fieldset {
    border: none;
    padding-bottom: 15px;
}

.user-details .input-box input:focus,
.room-details .input-box input:focus,
.payment-details .input-box input:focus,
#select-country:focus,
#select-room:focus,
.container form #prefrooms:focus {
    border-color: var(--primary);
}

.user-details .input-box input:hover,
.room-details .input-box input:hover,
.payment-details .input-box input:hover,
#select-country:hover,
#select-room:hover,
.button:hover,
.radio-payment:hover,
#prefrooms:hover {
    transform: scale(1.01);
}

form .payment-details .pay-category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.payment-details .pay-category label {
    display: flex;
    align-items: center;
}

.payment-details .pay-category .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: var(--dot-background);
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot01:checked~.pay-category label .one,
#dot02:checked~.pay-category label .two,
#dot03:checked~.pay-category label .three {
    border-color: var(--dot-background);
    background: var(--primary);
}

.radio-payment {
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 5px 10px;
}

.radio-payment:hover {
    cursor: pointer;
}

form .payment-details input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 0px 0;
}

form .button button {
    height: 100%;
    width: 100%;
    outline: none;
    color: var(--white);
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: var(--primary);
}

form .button button:hover {
    background: var(--hover-primary);
    transition: all 0.3s ease;
    cursor: pointer;
}

#select-country,
#select-room {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--border);
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
}

/* Validation Style */
.validation i {
    visibility: hidden;
    position: absolute;
    right: 10px;
    top: 41px;
    font-size: 18px;
}

.validation small {
    visibility: hidden;
    border: 1px solid;
    border-top: 3px solid transparent;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 14px;
    margin-top: 1px;
}

.input-box.success .validation i.fa-circle-check {
    visibility: visible;
    color: var(--check);
}

.input-box.error .validation i.fa-circle-xmark {
    visibility: visible;
    color: var(--xmark);
}

.input-box.error .validation small {
    visibility: visible;
    color: var(--xmark);
    display: block;
}

.input-box.error input[type="date"] + .validation i.fa-circle-xmark,
.input-box.success input[type="date"] + .validation i.fa-circle-check {
    right: 25px
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box,
    form .room-details .input-box,
    form .payment-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
}